snippet m "main() (main)" b
int main(int argc, char *argv[]) {
	${VISUAL}${0}
	return 0;
}
endsnippet

snippet u "using namespace" b
using namespace ${1:std};
endsnippet

snippet i "include" b
#include <${1:iostream}>
endsnippet

snippet I "include local" b
#include "${1:`!p snip.rv += snip.basename`.h}"
endsnippet

snippet c "cout" b
cout << ${2:"$1"} << endl;
endsnippet
